/* CSS RSEST */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.buttons{
    width: 90%;
    min-height: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 90px;
    margin-top: 10px;
}

@media screen and (max-width:550px){
    .buttons{
        margin-bottom: 5px;
    }
}
.btn_1{
    margin-right: 5px;
}